html {
  scroll-behavior: smooth;
}
* {
  font-family: Overpass;
}
body {
  padding: 0;
  margin: 0;
}

.webhead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #f1f1f1;
}

.lsdrop {
  padding-right: 5%;
}

div {
  margin: 0;
}
h1 {
  font-size: 60px;
  margin: 0;
}
h2 {
  font-size: 50px;
  margin: 0;
}
h3 {
  font-size: 40px;
  margin: 0;
}
h4 {
  font-size: 30px;
  margin: 0;
}


p {
  font-size: 16px;
  margin: 0;
  color: black !important;
}

a {
  text-decoration: none;
}

.nav {
  padding-top: 1vh;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  border-bottom: black solid 1px;
  box-shadow: -1px 9px 12px 7px rgba(0, 0, 0, 0.62);
}

.page-menu {
  padding: 10px;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.account {
  padding: 10px;
  width: 20%;
  display: flex;
  justify-content: space-around;
}
.account button {
  width: 100%;
  height: 100%;
}
.account a {
  min-width: 40%;
  min-height: 100%;
}

#Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  min-height: 95vh;
  max-height: 95vh;
  background-image: url(/src/lne.jpg);
  background-size: cover;
  margin-bottom: 30px;
}

.titlebox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 30vh;
  background-color: rgba(0, 0, 0, 0.589);
}

.titlebox h1 {
  font-size: 100px;
}
.titlebox h1,
h4 {
  color: white !important;
  font-family: Fira Sans;
}

h5{
  font-size: 25px;
}

#About {
  min-height: 100vh;
}

.po {
  color: rgb(0, 68, 255) !important;
}

.img-box {
  width: 50%;
  border-radius: 10px;
}

.nav h4 {
  font-size: 25px;
  color: black !important;
}

.txt-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around !important;
  min-width: 375px;
  width: 50%;
  background-color: rgba(23, 144, 243, 0.829);
}

.txt-box h4 {
  padding: 20px;
  color: rgb(20, 6, 70) !important;
}

.img1 {
  min-width: 375px;
  background-image: url(/src/man-holding-piggy-bank_23-2148793768.jpg);
  background-size: cover !important;
}
.img2 {
  min-width: 375px;
  background-image: url(/src/thoughtful-businessman-sitting-with-open-laptop-computer-looking-worried-while-thinking-about-planning-top-view_1423-7.avif);
  background-size: cover !important;
}

.img3 {
  min-width: 375px;
  background-image: url(/src/businessmen-teamwork-meeting-discuss-investment_1421-4110.avif);
  background-size: cover !important;
}

.icons {
  border-radius: 10px;
  box-shadow: 8px 7px 17px -2px rgba(0, 0, 0, 0.62);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 50vh;
  width: 50%;
}

.item {
  padding: 10px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
}

#homefaq{
  margin: 50px;
}

.question{
  font-size: 30px;
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.answer{
  font-size: 15px;
  color: red !important;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.paragraph{
  font-size: 20px;
}

.div-contact{
  display: flex;
  flex-wrap: nowrap;
  background-color: rgba(23, 144, 243, 0.829);
}

.div-contact > .contact-info{
  width: auto;
  margin: auto;
  padding: 3%;
  text-align: center;
  font-size: 30px;
}
 
.sub-title{
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* ****************Footer****************** */

.footLogo{
  display: flex;
  padding-left: 3%;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  height: 10vh;
  background-color: rgba(169, 170, 175, 0.589);
}